

@media (max-width : 1200px) {


    .Signuppage .logo .reslogo{
        width: 80%;
    }
    .Signuppage .x .resx{
        font-size: 30px;
    }
}

@media (max-width : 800px) {

    .Signuppage .logo .reslogo{
        position: relative;
        width: 60%;
        bottom: 10px;
    }
    .Signuppage .x .resx{
        position: relative;
        font-size: 30px;
        bottom: 20px;
    }
    .Signuppage .wrapper{
        width: 100%;
        border-radius: 0;
    }
    

}


.Signuppage {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(230, 232, 244);
    margin: 0;

}

.Signuppage .logo {
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;


}

.Signuppage .x {
    position: absolute;
    font-size: 50px;
    top: 20px;
    right: 30px;
    cursor: pointer;

}

.x .xmark {
    color: black;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 500px;
    padding-bottom: 50px;
    background: white;
    border-radius: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 100px;

}




.wrapper h1 {
    position: relative;
    font-size: 30px;
    text-align: center;
    top: 20px;

}

.wrapper .headingemail {
    position: relative;
    font-size: 18px;
    text-align: left;
    left: 35px;
    top: 0px;

}

.wrapper .headingpass {
    position: relative;
    font-size: 18px;
    text-align: left;
    left: 35px;
    top: 0px;

}

.wrapper .headingconfirm {
    position: relative;
    font-size: 18px;
    text-align: left;
    left: 35px;
    top: 0px;
    font-style: hidden;
}

.wrapper .login-signup1 {
    position: relative;
    font-size: 16px;
    text-align: right;
    top: 50px;
    z-index: 1;
    margin-right: 30px;
    
    
    

}

.wrapper .login-signup1 a {

    color: #0989CB;
    margin-left: 10px;

}




.wrapper .input-box-sign {


    position: relative;
    height: 60px;
    margin: -10px 0px -20px 0px;
 
    display: flex;
    justify-content: center;
    text-align: center;

}   

.input-box-sign input {
    width: 90%;
    position: relative;
    background: transparent;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #A7A7A7;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    bottom: 12px;
    margin: 0px 30px 0px 30px;
 
}   



.wrapper .eyeicon {

    position: absolute;
    top: 7%;
    left: 86%;
    font-size: 30px;
    opacity: 0.3;
    cursor: pointer;


}



.wrapper .setor-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}


.wrapper .setor-signup .linesign {
    position: relative;
    width: 40%;
    height: 0px;
    margin: 10px;
    border: 1px solid #897B7B;
}



.wrapper h5 {
    position: relative;
    font-size: 16px;
    text-align: center;
    font-weight: normal;


}


.wrapper .normalsignup {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    position: relative;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-top: 60px;
    margin-bottom: -30px;
    height: 65px;
    border-radius: 40px;
    background-color: #4CB1E2;
    border-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    transition-duration: 0.2s;

}


.wrapper .normalsignup:hover {
    background-color: #0f9adf;
    color: white;

}


.facebook .facesignup {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    margin-top: 30px;
    margin-bottom: -50px;
    position: relative;
    font-size: 18px;
    color: white;
    height: 55px;
    border-radius: 40px;
    background-color: #0082FF;
    border: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    transition-duration: 0.2s;
}


.facebook .facesignup:hover {
    background-color: #036dd1;
    color: white;
}


.facebookicon-sign {

    position: relative;
    top: -20px;
    left: 10%;
    font-size: 30px;
    color: white;
}

.google .googlesignup {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    margin-top: 30px;
    margin-bottom: -70px;
    position: relative;
    font-size: 18px;
    color: #0C0C0C;
    height: 55px;
    border-radius: 40px;
    border-style: solid;
    background-color: white;
    border-color: rgb(207, 207, 207);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    transition-duration: 0.2s;

}


.google .googlesignup:hover {
    background-color: rgba(255, 255, 255, 0.151);
    color: black;

}



.google .googleicon-sign {
    position: relative;
    left: 10%;

    font-size: 30px;
    background-color: transparent;
}